Repository bitmakerla/estela: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, build-main-kafka, deploy-main-kafka, lint-web, build-main-web, deploy-to-s3-main-web

build-main-api:
  environment:
    name: scraping-product
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  stage: build
  services:
  - docker:dind
  before_script:
  - amazon-linux-extras install docker
  - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY
  ...

deploy-main-api:
  environment:
    name: scraping-product
  stage: deploy
  image:
    name: bitnami/kubectl
    entrypoint:
    - ''
  needs:
  - build-main-api
  script:
  - cd $API_DIRECTORY
  - kubectl apply -f config/kubernetes-prod/bitmaker-api-services.yaml --namespace=default
  ...

build-mr-api:
  environment:
    name: scraping-product
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  stage: build
  services:
  - docker:dind
  before_script:
  - amazon-linux-extras install docker
  - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY
  ...

test-mr-api:
  environment:
    name: scraping-product
  image:
    name: bitnami/kubectl
    entrypoint:
    - ''
  stage: test
  needs:
  - build-mr-api
  script:
  - cd $API_DIRECTORY
  - kubectl create namespace $CI_COMMIT_SHORT_SHA
  ...

cleanup-mr-job-api:
  environment:
    name: scraping-product
  image:
    name: bitnami/kubectl
    entrypoint:
    - ''
  stage: cleanup
  script:
  - kubectl delete clusterrolebinding bitmaker-api-bind-$CI_COMMIT_SHORT_SHA
  - kubectl delete namespace $CI_COMMIT_SHORT_SHA
  when: always

build-main-kafka:
  environment:
    name: scraping-product
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  stage: build
  services:
  - docker:dind
  before_script:
  - amazon-linux-extras install docker
  - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY
  ...

deploy-main-kafka:
  environment:
    name: scraping-product
  stage: deploy
  image:
    name: bitnami/kubectl
    entrypoint:
    - ''
  needs:
  - build-main-kafka
  script:
  - kubectl apply -f $KAFKA_DIRECTORY/kubernetes/prod/bitmaker-zookeeper.yaml --namespace=default
  ...

lint-web:
  stage: lint
  image: node:15.8.0
  cache:
    paths:
    - $WEB_DIRECTORY/node_modules
  script:
  - cd $WEB_DIRECTORY
  - yarn install
  - yarn lint

build-main-web:
  stage: build
  image: node:15.8.0
  cache:
    paths:
    - $WEB_DIRECTORY/node_modules
  script:
  - cd $WEB_DIRECTORY
  - yarn install
  - yarn build
  artifacts:
    paths:
    - $WEB_DIRECTORY/build
    expire_in: 10 minutes

deploy-to-s3-main-web:
  stage: deploy
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  needs:
  - build-main-web
  script:
  - cd $WEB_DIRECTORY
  - aws s3 sync --delete ./build s3://$AWS_STAGING_S3
  - aws cloudfront create-invalidation --distribution-id $STAGING_CF_DISTRIBUTION --paths '/*'

BITMAKER-1575: Changed colon for semi colon
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml.example
Due: build-main-api, deploy-main-api

BITMAKER-1575: Added error handling in register action
  bitmaker-api/api/views/auth.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1575: Improve New User's register (#11)
  bitmaker-api/api/templates/acc_active_email.html
  bitmaker-api/api/templates/alert_new_user.html
  bitmaker-api/api/tokens.py
  bitmaker-api/api/views/auth.py
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml.example
  bitmaker-api/config/kubernetes/bitmaker-api-secrets.yaml.example
  bitmaker-api/config/settings/base.py
  bitmaker-api/core/views.py
  bitmaker-api/docs/api.yaml
  bitmaker-helm/templates/API/api-configmap.yaml
  bitmaker-helm/templates/API/api-secrets.yaml
  bitmaker-helm/values.yaml.example
  bitmaker-web/src/components/RegisterPage/index.tsx
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/shared/index.tsx
  bitmaker-web/src/shared/notifications/index.tsx
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Show job requests in front-end using JobDataListPage
  bitmaker-web/src/components/JobDataListPage/index.tsx
  bitmaker-web/src/components/JobDetailPage/index.tsx
  bitmaker-web/src/routes/index.tsx
Due: lint-web, build-main-web, deploy-to-s3-main-web

Adding a className for go to spider data
  bitmaker-web/src/components/JobDetailPage/index.tsx
  bitmaker-web/src/components/JobDetailPage/styles.scss
Due: lint-web, build-main-web, deploy-to-s3-main-web

Add an API endpoint to get all jobs
  bitmaker-api/api/views/project.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Add a Schema and Project Job Serializer
  bitmaker-api/api/serializers/job.py
  bitmaker-api/api/views/project.py
  bitmaker-api/docs/api.yaml
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

replaceing len() with count()
  bitmaker-api/api/serializers/job.py
  bitmaker-api/api/views/project.py
  bitmaker-api/docs/api.yaml
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

applying Black
  bitmaker-api/api/serializers/job.py
  bitmaker-api/api/views/project.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Adding 10 jobs by default in ProjectJobs
  bitmaker-api/api/views/project.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Fixing errors
  bitmaker-api/api/views/project.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Delete job data query
  bitmaker-api/api/views/job_data.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Adding delete button on item list
  bitmaker-web/src/components/JobDataListPage/index.tsx
Due: lint-web, build-main-web, deploy-to-s3-main-web

Fix response data with swagger
  bitmaker-api/api/views/job_data.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Add ProjectJobs view
  bitmaker-web/src/components/ProjectDetailPage/index.tsx
  bitmaker-web/src/components/ProjectJobsPage/index.tsx
  bitmaker-web/src/components/ProjectJobsPage/styles.scss
  bitmaker-web/src/routes/index.tsx
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/ProjectJob.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: lint-web, build-main-web, deploy-to-s3-main-web

Update .env-example to allow running make docs locally
  bitmaker-api/.env-example
Due: build-main-api, deploy-main-api

Update 'make docs' command and specify Python version requirement
  bitmaker-api/Makefile.example
  bitmaker-api/README.md
  docs/bitmaker-cloud/api/api.md
Due: build-main-api, deploy-main-api

Adding a button to create a new project and changing the name of component ProjectJobsPage by ProjectJobListPage
  bitmaker-web/src/components/ProjectJobListPage/index.tsx
  bitmaker-web/src/components/ProjectJobListPage/styles.scss
  bitmaker-web/src/components/ProjectListPage/index.tsx
  bitmaker-web/src/components/ProjectListPage/styles.scss
  bitmaker-web/src/routes/index.tsx
  bitmaker-web/src/services/api/generated-api/models/ProjectJob.ts
  bitmaker-web/src/shared/projectSidenav/index.tsx
  bitmaker-web/src/shared/sidenav/index.tsx
Due: lint-web, build-main-web, deploy-to-s3-main-web

Adding query and button Function
  bitmaker-web/src/components/JobDataListPage/index.tsx
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: lint-web, build-main-web, deploy-to-s3-main-web

Fix definition of swagger and serializer
  bitmaker-api/api/serializers/job.py
  bitmaker-api/api/views/job_data.py
  bitmaker-api/docs/api.yaml
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Fixing errors
  bitmaker-api/api/views/job.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Delete job data query complete
  bitmaker-api/api/views/job_data.py
  bitmaker-web/src/components/JobDataListPage/index.tsx
  bitmaker-web/src/services/api/generated-api/models/DeleteJobData.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Delete prints
  bitmaker-api/api/views/job_data.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

New interface to set data storage
  bitmaker-web/src/components/JobCreatePage/index.tsx
  bitmaker-web/src/components/JobCreatePage/styles.scss
Due: lint-web, build-main-web, deploy-to-s3-main-web

Fix position button
  bitmaker-web/src/components/JobCreatePage/index.tsx
  bitmaker-web/src/components/JobCreatePage/styles.scss
Due: lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1731: Removed github actions
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-kafka.yml
  .github/workflows/deploy-web.yml
  .github/workflows/lint-mr-web.yml
  .github/workflows/main.yml
  .github/workflows/test-mr-api.yml
Due: none

BITMAKER-1731: Keep repo sync
  .github/workflows/sync.yml
Due: none

BITMAKER-1731: Removing gitlab-ci.yml
  .gitlab-ci.yml
Due: build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1731: Keeps lint-mr-web action because dont use our resources
  .github/workflows/lint-mr-web.yml
Due: none

BITMAKER-1731: Removing git-sync
  .github/workflows/sync.yml
Due: none

Rename .env.example and explain that a .env is needed
  bitmaker-api/.env.example
  bitmaker-api/README.md
Due: build-main-api, deploy-main-api

BITMAKER-1733: Run docs generation locally instead of on the k8s pod (#22)
  bitmaker-api/.env-example
  bitmaker-api/.env.example
  bitmaker-api/Makefile.example
  bitmaker-api/README.md
  docs/bitmaker-cloud/api/api.md
Due: build-main-api, deploy-main-api

Read messages in error responses and display them
  bitmaker-api/api/views/project.py
  bitmaker-web/src/components/CronJobCreatePage/index.tsx
  bitmaker-web/src/components/JobCreatePage/index.tsx
  bitmaker-web/src/components/LoginPage/index.tsx
  bitmaker-web/src/components/ProjectDetailPage/index.tsx
  bitmaker-web/src/shared/index.tsx
  bitmaker-web/src/shared/notifications/index.tsx
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Initial changes to read errors returned by the API
  bitmaker-web/src/components/LoginPage/index.tsx
  bitmaker-web/src/components/ProjectDetailPage/index.tsx
  bitmaker-web/src/components/RegisterPage/index.tsx
  bitmaker-web/src/shared/index.tsx
  bitmaker-web/src/shared/notifications/index.tsx
Due: lint-web, build-main-web, deploy-to-s3-main-web

Set success notification type for email confirmation
  bitmaker-web/src/shared/notifications/index.tsx
Due: lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1765: Improve repository structure
  bitmaker-api/config/kubernetes/aws-registry-cronjob.yaml
  bitmaker-api/requirements/base.in
  bitmaker-api/requirements/base.txt
  bitmaker-api/requirements/dev.txt
  bitmaker-api/requirements/prod.txt
  bitmaker-api/requirements/test.txt
  bitmaker-web/.env
  installation-helps/helm-chart/.gitignore
  installation-helps/helm-chart/Chart.yaml
  installation-helps/helm-chart/README.md
  installation-helps/helm-chart/templates/API/api-configmap.yaml
  installation-helps/helm-chart/templates/API/api-deployment.yaml
  installation-helps/helm-chart/templates/API/api-secrets.yaml
  installation-helps/helm-chart/templates/API/api-serviceaccount.yaml
  installation-helps/helm-chart/templates/API/api-services.yaml
  installation-helps/helm-chart/templates/API/aws-registry.yaml
  installation-helps/helm-chart/templates/KAFKA/kafka-consumer.yaml
  installation-helps/helm-chart/templates/KAFKA/kafka-secrets.yaml
  installation-helps/helm-chart/templates/KAFKA/kafka-services.yaml
  installation-helps/helm-chart/templates/_helpers.tpl
  installation-helps/helm-chart/values.yaml.example
  installation-helps/kubernetes-api/bitmaker-api-configmaps.yaml.example
  installation-helps/kubernetes-api/bitmaker-api-deployments.yaml
  installation-helps/kubernetes-api/bitmaker-api-secrets.yaml.example
  installation-helps/kubernetes-api/bitmaker-api-services.yaml
  installation-helps/kubernetes-api/bitmaker-filebeat.yaml
  installation-helps/kubernetes-kafka/bitmaker-kafka-consumers.yaml
  installation-helps/kubernetes-kafka/bitmaker-kafka-secrets.yaml.example
  installation-helps/kubernetes-kafka/bitmaker-kafka-services.yaml
Due: build-main-api, deploy-main-api, lint-web, build-main-web, deploy-to-s3-main-web

Adding deleted notification data
  bitmaker-web/src/components/JobDataListPage/index.tsx
  bitmaker-web/src/shared/index.tsx
  bitmaker-web/src/shared/notifications/index.tsx
Due: lint-web, build-main-web, deploy-to-s3-main-web

Refactor handling or invalidData errors
  bitmaker-web/src/components/LoginPage/index.tsx
  bitmaker-web/src/components/ProjectDetailPage/index.tsx
  bitmaker-web/src/components/RegisterPage/index.tsx
  bitmaker-web/src/utils.ts
Due: lint-web, build-main-web, deploy-to-s3-main-web

Fix linter
  bitmaker-web/src/components/JobDataListPage/index.tsx
Due: lint-web, build-main-web, deploy-to-s3-main-web

Path conditions:
  build-main-api: any of: bitmaker-api/**/*
  deploy-main-api: any of: bitmaker-api/**/*
  build-mr-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  test-mr-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  cleanup-mr-job-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  build-main-kafka: any of: bitmaker-kafka/consumer.py
  deploy-main-kafka: any of: bitmaker-kafka/consumer.py
  lint-web: any of: bitmaker-web/**/*
  build-main-web: any of: bitmaker-web/**/*
  deploy-to-s3-main-web: any of: bitmaker-web/**/*
