Repository bitmakerla/estela: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, build-main-kafka, deploy-main-kafka, lint-web, build-main-web, deploy-to-s3-main-web

Path conditions:
  build-main-api: any of: bitmaker-api/**/*
  deploy-main-api: any of: bitmaker-api/**/*
  build-mr-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  test-mr-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  cleanup-mr-job-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  build-main-kafka: any of: bitmaker-kafka/consumer.py
  deploy-main-kafka: any of: bitmaker-kafka/consumer.py
  lint-web: any of: bitmaker-web/**/*
  build-main-web: any of: bitmaker-web/**/*
  deploy-to-s3-main-web: any of: bitmaker-web/**/*

BITMAKER-1527: Add BUCKET_NAME_PROJECTS env var to configmaps files
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml.example
  bitmaker-helm/templates/API/api-configmap.yaml
  bitmaker-helm/values.yaml.example
Due: build-main-api, deploy-main-api

Replace swagger definitions for serializers in ProjectUpdate and DeployCreate
  bitmaker-api/api/serializers/deploy.py
  bitmaker-api/api/serializers/project.py
  bitmaker-api/api/views/deploy.py
  bitmaker-api/api/views/project.py
  bitmaker-api/docs/api.yaml
  bitmaker-web/src/components/ProjectDetailPage/index.tsx
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/Deploy.ts
  bitmaker-web/src/services/api/generated-api/models/DeployCreate.ts
  bitmaker-web/src/services/api/generated-api/models/DeployUpdate.ts
  bitmaker-web/src/services/api/generated-api/models/InlineObject.ts
  bitmaker-web/src/services/api/generated-api/models/Project.ts
  bitmaker-web/src/services/api/generated-api/models/ProjectUpdate.ts
  bitmaker-web/src/services/api/generated-api/models/SetRelatedSpidersProject.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Format code
  bitmaker-api/api/serializers/project.py
  bitmaker-api/api/views/project.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1527: Add kafka to helm and modify yaml (#7)
  .github/workflows/deploy-api.yml
  bitmaker-api/Makefile.example
  bitmaker-api/build_project/build.py
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml.example
  bitmaker-api/config/kubernetes/bitmaker-api-deployments.yaml
  bitmaker-api/config/kubernetes/bitmaker-api-secrets.yaml.example
  bitmaker-api/config/kubernetes/bitmaker-api-services.yaml
  bitmaker-api/config/kubernetes/bitmaker-filebeat.yaml
  bitmaker-helm/.gitignore
  bitmaker-helm/Chart.yaml
  bitmaker-helm/README.md
  bitmaker-helm/templates/API/api-configmap.yaml
  bitmaker-helm/templates/API/api-deployment.yaml
  bitmaker-helm/templates/API/api-secrets.yaml
  bitmaker-helm/templates/API/api-serviceaccount.yaml
  bitmaker-helm/templates/API/api-services.yaml
  bitmaker-helm/templates/API/aws-registry.yaml
  bitmaker-helm/templates/KAFKA/kafka-consumer.yaml
  bitmaker-helm/templates/KAFKA/kafka-secrets.yaml
  bitmaker-helm/templates/KAFKA/kafka-services.yaml
  bitmaker-helm/templates/_helpers.tpl
  bitmaker-helm/values.yaml.example
  bitmaker-kafka/Makefile.example
  bitmaker-kafka/kubernetes/bitmaker-kafka-consumers.yaml
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Improve API endpoints information
  docs/bitmaker_cloud/api/endpoints.md
Due: none

Remove deployment specific sections
  docs/bitmaker_cloud/api/api.md
  docs/bitmaker_cloud/api/deployment.md
  docs/bitmaker_cloud/api/local.md
  docs/bitmaker_cloud/kafka.md
  docs/bitmaker_cloud/web.md
Due: none

Fix typos and improve readability.
  docs/about.md
  docs/bitmaker_cli/commands/context.md
  docs/bitmaker_cli/commands/deploy.md
  docs/bitmaker_cli/commands/init.md
  docs/bitmaker_cli/commands/login.md
  docs/bitmaker_cli/configuration.md
  docs/bitmaker_cli/install.md
  docs/bitmaker_cli/quickstart.md
  docs/bitmaker_cloud/api/engines.md
  docs/bitmaker_entrypoint/index.md
  docs/index.md
Due: none

Fix conflicts with master
  bitmaker-api/Makefile2.bak
  bitmaker-api/config/kubernetes-local/aws-registry-cronjob.yaml
  bitmaker-api/config/kubernetes-local/bitmaker-api-configmaps.yaml.example
  bitmaker-api/config/kubernetes-local/bitmaker-api-deployments.yaml
  bitmaker-api/config/kubernetes-local/bitmaker-api-secrets.yaml.example
  bitmaker-api/config/kubernetes-local/bitmaker-api-services.yaml
  bitmaker-api/config/kubernetes-local/bitmaker-filebeat.yaml
  bitmaker-api/config/kubernetes/aws-registry-cronjob.yaml
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml
  bitmaker-api/config/kubernetes/bitmaker-api-secrets.yaml
  bitmaker-kafka/Dockerfile
  bitmaker-web/.env
  docs/bitmaker_cloud/api/local.md
  docs/bitmaker_cloud/kafka.md
Due: build-main-api, deploy-main-api, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1574: Configure credentials to registry access as module
  bitmaker-api/config/job_manager.py
  bitmaker-api/config/settings/base.py
  bitmaker-api/core/registry.py
  bitmaker-api/core/views.py
  bitmaker-api/credentials/aws.py
  bitmaker-api/credentials/config.py
  bitmaker-api/credentials/local.py
  bitmaker-api/engines/kubernetes.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1574: Moved credentials field to base class
  bitmaker-api/credentials/__init__.py
  bitmaker-api/credentials/aws.py
  bitmaker-api/credentials/local.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1574: Removed registry token test
  bitmaker-api/tests/core/test_registry.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1574: Solved observations, get_registry_token functions runs every time
  bitmaker-api/config/job_manager.py
  bitmaker-api/credentials/__init__.py
  bitmaker-api/credentials/aws.py
  bitmaker-api/credentials/local.py
  bitmaker-api/engines/kubernetes.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1574: Configure credentials to registry access as module (#8)
  bitmaker-api/config/job_manager.py
  bitmaker-api/config/settings/base.py
  bitmaker-api/core/registry.py
  bitmaker-api/core/views.py
  bitmaker-api/credentials/__init__.py
  bitmaker-api/credentials/aws.py
  bitmaker-api/credentials/config.py
  bitmaker-api/credentials/local.py
  bitmaker-api/engines/kubernetes.py
  bitmaker-api/tests/core/test_registry.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1584: Update deploy kafka action to include logs consumer
  .github/workflows/deploy-kafka.yml
Due: none

Adapt Makefiles for local-only deployment. Add missing variables to configmaps. Updated docs for local deployment.
  bitmaker-api/.gitignore
  bitmaker-api/Makefile.example
  bitmaker-api/config/kubernetes-local/aws-registry-cronjob.yaml
  bitmaker-api/config/kubernetes-local/bitmaker-api-configmaps.yaml.example
  bitmaker-api/config/kubernetes-local/bitmaker-api-deployments.yaml
  bitmaker-api/config/kubernetes-local/bitmaker-api-secrets.yaml.example
  bitmaker-api/config/kubernetes-local/bitmaker-api-services.yaml
  bitmaker-api/config/kubernetes-local/bitmaker-filebeat.yaml
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml.example
  bitmaker-kafka/Makefile.example
  bitmaker-kafka/kubernetes/bitmaker-kafka-consumers.yaml
  bitmaker-kafka/kubernetes/bitmaker-kafka-secrets.yaml
  docs/bitmaker_cloud/api/local.md
  docs/bitmaker_cloud/kafka.md
Due: build-main-api, deploy-main-api

BITMAKER-1584: Update deploy kafka action to include logs consumer (#10)
  .github/workflows/deploy-kafka.yml
Due: none

Remove duplicates in configmaps section. Ignore kafka local secrets file. Separate configmaps and secrets sections better in local API setup section.
  bitmaker-api/config/kubernetes/bitmaker-api-secrets.yaml.example
  bitmaker-kafka/.gitignore
  bitmaker-kafka/kubernetes/bitmaker-kafka-secrets.yaml
  docs/bitmaker_cloud/api/local.md
  docs/bitmaker_cloud/kafka.md
Due: build-main-api, deploy-main-api

BITMAKER-1573: Replace swagger decorators for serializers where possible (#9)
  bitmaker-api/api/serializers/deploy.py
  bitmaker-api/api/serializers/project.py
  bitmaker-api/api/views/deploy.py
  bitmaker-api/api/views/project.py
  bitmaker-api/docs/api.yaml
  bitmaker-web/src/components/ProjectDetailPage/index.tsx
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/Deploy.ts
  bitmaker-web/src/services/api/generated-api/models/DeployCreate.ts
  bitmaker-web/src/services/api/generated-api/models/DeployUpdate.ts
  bitmaker-web/src/services/api/generated-api/models/InlineObject.ts
  bitmaker-web/src/services/api/generated-api/models/Project.ts
  bitmaker-web/src/services/api/generated-api/models/ProjectUpdate.ts
  bitmaker-web/src/services/api/generated-api/models/SetRelatedSpidersProject.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Remove files not supposed to be in the repo
  bitmaker-api/Makefile2.bak
  bitmaker-api/config/kubernetes/bitmaker-api-secrets.yaml
Due: build-main-api, deploy-main-api

Revert back to previous .env value
  bitmaker-web/.env
Due: lint-web, build-main-web, deploy-to-s3-main-web

Change heading color and search result preview
  docs/_sass/color_schemes/bitmaker_cloud.scss
  docs/index.md
Due: none

Set default credentials to aws (needed for S3 upload)
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml.example
Due: build-main-api, deploy-main-api

BITMAKER-1566: Run Job on Demand
  bitmaker-api/api/views/cronjob.py
  bitmaker-api/config/settings/base.py
  bitmaker-api/core/cronjob.py
  bitmaker-api/credentials/__init__.py
  bitmaker-api/credentials/aws.py
  bitmaker-api/credentials/config.py
  bitmaker-api/credentials/local.py
  bitmaker-api/docs/api.yaml
  bitmaker-web/src/components/CronJobDetailPage/index.tsx
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Add github action to build docs
  .github/workflows/deploy-docs.yml
Due: none

Add deployment step
  .github/workflows/deploy-docs.yml
  .github/workflows/lint-mr-web.yml
Due: none

Update architecture image and use SVG format
  docs/assets/images/architecture.png
  docs/assets/images/architecture.svg
  docs/index.md
Due: none

Uncomment copying of config folder in kafka dockerfile
  bitmaker-kafka/Dockerfile
Due: none

BITMAKER-1566: Remove prints from cronjob view and rename function in core/cronjob.py
  bitmaker-api/api/views/cronjob.py
  bitmaker-api/core/cronjob.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Setting correctly local registry for minikube
  bitmaker-api/Makefile.example
  docs/bitmaker_cloud/api/local.md
Due: build-main-api, deploy-main-api

Fixing a typo error
  docs/bitmaker_cloud/api/local.md
Due: none

BITMAKER-1566: Run Job on Demand (#12)
  bitmaker-api/api/views/cronjob.py
  bitmaker-api/config/settings/base.py
  bitmaker-api/core/cronjob.py
  bitmaker-api/credentials/__init__.py
  bitmaker-api/credentials/aws.py
  bitmaker-api/credentials/config.py
  bitmaker-api/credentials/local.py
  bitmaker-api/docs/api.yaml
  bitmaker-web/src/components/CronJobDetailPage/index.tsx
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1617: Show logs in frontend
  bitmaker-api/api/serializers/job.py
  bitmaker-api/api/views/job.py
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml.example
  bitmaker-api/config/kubernetes/bitmaker-api-secrets.yaml.example
  bitmaker-api/config/settings/base.py
  bitmaker-api/core/registry.py
  bitmaker-api/docs/api.yaml
  bitmaker-api/requirements/base.in
  bitmaker-api/requirements/base.txt
  bitmaker-api/requirements/dev.txt
  bitmaker-api/requirements/prod.txt
  bitmaker-api/requirements/test.txt
  bitmaker-helm/templates/API/api-configmap.yaml
  bitmaker-helm/templates/API/api-secrets.yaml
  bitmaker-helm/values.yaml.example
  bitmaker-web/src/components/JobDetailPage/index.tsx
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/GetLogs.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1617: Show logs in frontend (#13)
  bitmaker-api/api/serializers/job.py
  bitmaker-api/api/views/job.py
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml.example
  bitmaker-api/config/kubernetes/bitmaker-api-secrets.yaml.example
  bitmaker-api/config/settings/base.py
  bitmaker-api/core/registry.py
  bitmaker-api/docs/api.yaml
  bitmaker-api/requirements/base.in
  bitmaker-api/requirements/base.txt
  bitmaker-api/requirements/dev.txt
  bitmaker-api/requirements/prod.txt
  bitmaker-api/requirements/test.txt
  bitmaker-helm/templates/API/api-configmap.yaml
  bitmaker-helm/templates/API/api-secrets.yaml
  bitmaker-helm/values.yaml.example
  bitmaker-web/src/components/JobDetailPage/index.tsx
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/GetLogs.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1663
  .github/workflows/deploy-web.yml
  .github/workflows/lint-mr-web.yml
Due: none

Encode/decode dots in json keys for mongoDB
  bitmaker-kafka/consumer.py
  bitmaker-web/src/components/JobDetailPage/index.tsx
Due: build-main-kafka, deploy-main-kafka, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1575: Improve New User's register
  bitmaker-api/api/templates/acc_active_email.html
  bitmaker-api/api/templates/alert_new_user.html
  bitmaker-api/api/tokens.py
  bitmaker-api/api/views/auth.py
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml.example
  bitmaker-api/config/kubernetes/bitmaker-api-secrets.yaml.example
  bitmaker-api/config/settings/base.py
  bitmaker-api/core/views.py
  bitmaker-api/docs/api.yaml
  bitmaker-helm/templates/API/api-configmap.yaml
  bitmaker-helm/templates/API/api-secrets.yaml
  bitmaker-helm/values.yaml.example
  bitmaker-web/src/components/RegisterPage/index.tsx
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/shared/index.tsx
  bitmaker-web/src/shared/notifications/index.tsx
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1663 (#17)
  .github/workflows/deploy-web.yml
  .github/workflows/lint-mr-web.yml
Due: none
