Repository bitmakerla/estela: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, build-main-kafka, deploy-main-kafka, lint-web, build-main-web, deploy-to-s3-main-web

build-main-api:
  environment:
    name: scraping-product
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  stage: build
  services:
  - docker:dind
  before_script:
  - amazon-linux-extras install docker
  - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY
  ...

deploy-main-api:
  environment:
    name: scraping-product
  stage: deploy
  image:
    name: bitnami/kubectl
    entrypoint:
    - ''
  needs:
  - build-main-api
  script:
  - cd $API_DIRECTORY
  - kubectl apply -f config/kubernetes-prod/bitmaker-api-services.yaml --namespace=default
  ...

build-mr-api:
  environment:
    name: scraping-product
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  stage: build
  services:
  - docker:dind
  before_script:
  - amazon-linux-extras install docker
  - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY
  ...

test-mr-api:
  environment:
    name: scraping-product
  image:
    name: bitnami/kubectl
    entrypoint:
    - ''
  stage: test
  needs:
  - build-mr-api
  script:
  - cd $API_DIRECTORY
  - kubectl create namespace $CI_COMMIT_SHORT_SHA
  ...

cleanup-mr-job-api:
  environment:
    name: scraping-product
  image:
    name: bitnami/kubectl
    entrypoint:
    - ''
  stage: cleanup
  script:
  - kubectl delete clusterrolebinding bitmaker-api-bind-$CI_COMMIT_SHORT_SHA
  - kubectl delete namespace $CI_COMMIT_SHORT_SHA
  when: always

build-main-kafka:
  environment:
    name: scraping-product
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  stage: build
  services:
  - docker:dind
  before_script:
  - amazon-linux-extras install docker
  - aws ecr get-login-password | docker login --username AWS --password-stdin $DOCKER_REGISTRY
  ...

deploy-main-kafka:
  environment:
    name: scraping-product
  stage: deploy
  image:
    name: bitnami/kubectl
    entrypoint:
    - ''
  needs:
  - build-main-kafka
  script:
  - kubectl apply -f $KAFKA_DIRECTORY/kubernetes/prod/bitmaker-zookeeper.yaml --namespace=default
  ...

lint-web:
  stage: lint
  image: node:15.8.0
  cache:
    paths:
    - $WEB_DIRECTORY/node_modules
  script:
  - cd $WEB_DIRECTORY
  - yarn install
  - yarn lint

build-main-web:
  stage: build
  image: node:15.8.0
  cache:
    paths:
    - $WEB_DIRECTORY/node_modules
  script:
  - cd $WEB_DIRECTORY
  - yarn install
  - yarn build
  artifacts:
    paths:
    - $WEB_DIRECTORY/build
    expire_in: 10 minutes

deploy-to-s3-main-web:
  stage: deploy
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  needs:
  - build-main-web
  script:
  - cd $WEB_DIRECTORY
  - aws s3 sync --delete ./build s3://$AWS_STAGING_S3
  - aws cloudfront create-invalidation --distribution-id $STAGING_CF_DISTRIBUTION --paths '/*'

BITMAKER-1352: Enable Cronjobs to use same collection
  bitmaker-api/api/serializers/cronjob.py
  bitmaker-api/api/views/cronjob.py
  bitmaker-api/api/views/job.py
  bitmaker-api/api/views/job_data.py
  bitmaker-api/core/cronjob.py
  bitmaker-api/core/migrations/0015_spidercronjob_unique_collection.py
  bitmaker-api/core/models.py
  bitmaker-api/core/tasks.py
  bitmaker-api/docs/api.yaml
  bitmaker-api/engines/kubernetes.py
  bitmaker-api/tests/core/test_kubernetes.py
  bitmaker-api/tests/core/test_tasks.py
  bitmaker-kafka/consumer.py
  bitmaker-web/src/components/CronJobCreatePage/index.tsx
  bitmaker-web/src/components/CronJobDetailPage/index.tsx
  bitmaker-web/src/services/api/generated-api/models/SpiderCronJob.ts
  bitmaker-web/src/services/api/generated-api/models/SpiderCronJobCreate.ts
  bitmaker-web/src/services/api/generated-api/models/SpiderCronJobUpdate.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, build-main-kafka, deploy-main-kafka, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1374: Helm Chart for Bitmaker API
  bitmaker-api-helm/.gitignore
  bitmaker-api-helm/Chart.yaml
  bitmaker-api-helm/README.md
  bitmaker-api-helm/templates/_helpers.tpl
  bitmaker-api-helm/templates/api-configmap.yaml
  bitmaker-api-helm/templates/api-deployment.yaml
  bitmaker-api-helm/templates/api-secrets.yaml
  bitmaker-api-helm/templates/api-serviceaccount.yaml
  bitmaker-api-helm/templates/api-services.yaml
  bitmaker-api-helm/templates/aws-registry.yaml
  bitmaker-api-helm/values.yaml.example
Due: none

BITMAKER-1379: Add function to retrieve data in csv format
  bitmaker-api/api/views/job_data.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1197: API handles project deployment.
  bitmaker-api/api/errors.py
  bitmaker-api/api/permissions.py
  bitmaker-api/api/serializers/deploy.py
  bitmaker-api/api/serializers/project.py
  bitmaker-api/api/urls.py
  bitmaker-api/api/views/deploy.py
  bitmaker-api/api/views/project.py
  bitmaker-api/build_project/build.py
  bitmaker-api/config/job_manager.py
  bitmaker-api/config/settings/base.py
  bitmaker-api/config/settings/prod.py
  bitmaker-api/core/migrations/0016_deploy.py
  bitmaker-api/core/models.py
  bitmaker-api/core/registry.py
  bitmaker-api/core/views.py
  bitmaker-api/docker-conf/Dockerfile-build-project
  bitmaker-api/docs/api.yaml
  bitmaker-api/engines/kubernetes.py
  bitmaker-api/requirements/deploy.in
  bitmaker-api/requirements/deploy.txt
  bitmaker-api/tests/api/test_project.py
  bitmaker-web/src/components/DeployListPage/index.tsx
  bitmaker-web/src/components/DeployListPage/styles.scss
  bitmaker-web/src/components/ProjectDetailPage/index.tsx
  bitmaker-web/src/routes/index.tsx
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/Deploy.ts
  bitmaker-web/src/services/api/generated-api/models/DeployCreate.ts
  bitmaker-web/src/services/api/generated-api/models/DeployUpdate.ts
  bitmaker-web/src/services/api/generated-api/models/InlineResponse2001.ts
  bitmaker-web/src/services/api/generated-api/models/InlineResponse2002.ts
  bitmaker-web/src/services/api/generated-api/models/InlineResponse2003.ts
  bitmaker-web/src/services/api/generated-api/models/InlineResponse2005.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1444: Removed config files from repo
  .gitlab-ci.yml
  bitmaker-api/config/settings/base.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1445: Add action to pull to gitlab
  .github/workflows/main.yml
Due: none

BITMAKER-1505: Removing all private information from repo
  .gitlab-ci.yml
  bitmaker-api-helm/values.yaml.example
  bitmaker-api/.env-example
  bitmaker-api/Makefile
  bitmaker-api/config/settings/base.py
  bitmaker-kafka/Makefile
  bitmaker-web/.env
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1505: Removed registry host from bitmaker-api/tests/base.py
  bitmaker-api/config/settings/base.py
  bitmaker-api/tests/base.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1505: Removing all private information from repo
  .gitlab-ci.yml
  bitmaker-api-helm/values.yaml.example
  bitmaker-api/.env-example
  bitmaker-api/Makefile
  bitmaker-api/config/settings/base.py
  bitmaker-api/tests/base.py
  bitmaker-kafka/Makefile
  bitmaker-web/.env
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1505-1: Configured BMC API URL as env variable in deploymento to production
  .gitlab-ci.yml
Due: build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1505-2: Adding config files and convert Makefile to example
  bitmaker-api/.gitignore
  bitmaker-api/Makefile.example
  bitmaker-kafka/.gitignore
  bitmaker-kafka/Makefile.example
  bitmaker-kafka/kubernetes/bitmaker-kafka-consumers.yaml.example
  bitmaker-kafka/kubernetes/bitmaker-kafka-secrets.yaml.example
  bitmaker-kafka/kubernetes/bitmaker-kafka-services.yaml
Due: build-main-api, deploy-main-api

BITMAKER-1505-2: Fixed typos in kafka deployments and api Makefile.example
  bitmaker-api/Makefile.example
  bitmaker-kafka/kubernetes/bitmaker-kafka-consumers.yaml.example
Due: build-main-api, deploy-main-api

Initial commits of documentation using Jekyll
  docs/.gitignore
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_sass/color_schemes/bitmaker_cloud.scss
  docs/about.md
  docs/assets/images/architecture.png
  docs/bitmaker_cli/index.md
  docs/bitmaker_cli/install.md
  docs/bitmaker_cloud/api/api.md
  docs/bitmaker_cloud/api/deployment.md
  docs/bitmaker_cloud/api/engines.md
  docs/bitmaker_cloud/api/local.md
  docs/bitmaker_cloud/index.md
  docs/bitmaker_cloud/kafka.md
  docs/bitmaker_cloud/web.md
  docs/bitmaker_entrypoint/index.md
  docs/bitmaker_entrypoint/overview.md
  docs/index.md
Due: none

BITMAKER-1506: Add Pipeline to test MR's
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-kafka.yml
  .github/workflows/lint-mr-web.yml
  .github/workflows/test-mr-api.yml
Due: none

BITMAKER-1506: Add Pipeline to test MR's (#5)
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-kafka.yml
  .github/workflows/lint-mr-web.yml
  .github/workflows/test-mr-api.yml
Due: none

Add helm chart instructions. Update API and local pages
  docs/bitmaker_cloud/api/api.md
  docs/bitmaker_cloud/api/helm.md
  docs/bitmaker_cloud/api/local.md
Due: none

Bitmaker Cloud docs
  docs/_sass/color_schemes/bitmaker_cloud.scss
  docs/bitmaker_cli/index.md
  docs/bitmaker_cli/install.md
  docs/bitmaker_cloud/api/api.md
  docs/bitmaker_cloud/api/deployment.md
  docs/bitmaker_cloud/api/engines.md
  docs/bitmaker_cloud/api/helm.md
  docs/bitmaker_cloud/api/local.md
  docs/bitmaker_cloud/index.md
  docs/bitmaker_cloud/kafka.md
  docs/bitmaker_cloud/web.md
  docs/bitmaker_entrypoint/index.md
  docs/index.md
Due: none

Add CLI quickstart page
  docs/bitmaker_cli/quickstart.md
Due: none

Add CLI configuration page
  docs/bitmaker_cli/configuration.md
  docs/bitmaker_cli/install.md
Due: none

Add Bitmaker CLI commands index
  docs/bitmaker_cli/commands/index.md
Due: none

Add README to jekyll docs
  docs/README.md
Due: none

Add bitmaker entrypoint documentation
  docs/Gemfile.lock
  docs/bitmaker_entrypoint/overview.md
Due: none

Make entrypoint documentation a single page without table of contents
  docs/bitmaker_entrypoint/index.md
  docs/bitmaker_entrypoint/overview.md
Due: none

Add API Enpoints & Serializers documentation.
  docs/bitmaker_cloud/api/endpoints.md
Due: none

Format CLI config table correctly
  docs/bitmaker_cli/configuration.md
Due: none

Add CLI command reference pages
  docs/bitmaker_cli/commands/context.md
  docs/bitmaker_cli/commands/create_cronjob.md
  docs/bitmaker_cli/commands/create_job.md
  docs/bitmaker_cli/commands/create_project.md
  docs/bitmaker_cli/commands/data_job.md
  docs/bitmaker_cli/commands/delete_project.md
  docs/bitmaker_cli/commands/deploy.md
  docs/bitmaker_cli/commands/index.md
  docs/bitmaker_cli/commands/init.md
  docs/bitmaker_cli/commands/list_cronjob.md
  docs/bitmaker_cli/commands/list_job.md
  docs/bitmaker_cli/commands/list_project.md
  docs/bitmaker_cli/commands/list_spider.md
  docs/bitmaker_cli/commands/login.md
  docs/bitmaker_cli/commands/logout.md
  docs/bitmaker_cli/commands/stop_job.md
  docs/bitmaker_cli/commands/update_cronjob.md
  docs/bitmaker_cli/quickstart.md
Due: none

Update next steps links in overview page and remove unrelated stuff in api overview
  docs/bitmaker_cloud/api/api.md
  docs/index.md
Due: none

BITMAKER-1527: Add Kafka to helm chart
  .github/workflows/deploy-api.yml
  bitmaker-api/Makefile.example
  bitmaker-api/build_project/build.py
  bitmaker-api/config/kubernetes/bitmaker-api-configmaps.yaml.example
  bitmaker-api/config/kubernetes/bitmaker-api-deployments.yaml
  bitmaker-api/config/kubernetes/bitmaker-api-secrets.yaml.example
  bitmaker-api/config/kubernetes/bitmaker-api-services.yaml
  bitmaker-api/config/kubernetes/bitmaker-filebeat.yaml
  bitmaker-helm/.gitignore
  bitmaker-helm/Chart.yaml
  bitmaker-helm/README.md
  bitmaker-helm/templates/API/api-configmap.yaml
  bitmaker-helm/templates/API/api-deployment.yaml
  bitmaker-helm/templates/API/api-secrets.yaml
  bitmaker-helm/templates/API/api-serviceaccount.yaml
  bitmaker-helm/templates/API/api-services.yaml
  bitmaker-helm/templates/API/aws-registry.yaml
  bitmaker-helm/templates/KAFKA/kafka-consumer.yaml
  bitmaker-helm/templates/KAFKA/kafka-secrets.yaml
  bitmaker-helm/templates/KAFKA/kafka-services.yaml
  bitmaker-helm/templates/_helpers.tpl
  bitmaker-helm/values.yaml.example
  bitmaker-kafka/Makefile.example
  bitmaker-kafka/kubernetes/bitmaker-kafka-consumers.yaml
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1527: Fix typo
  bitmaker-api/build_project/build.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Path conditions:
  build-main-api: any of: bitmaker-api/**/*
  deploy-main-api: any of: bitmaker-api/**/*
  build-mr-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  test-mr-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  cleanup-mr-job-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  build-main-kafka: any of: bitmaker-kafka/consumer.py
  deploy-main-kafka: any of: bitmaker-kafka/consumer.py
  lint-web: any of: bitmaker-web/**/*
  build-main-web: any of: bitmaker-web/**/*
  deploy-to-s3-main-web: any of: bitmaker-web/**/*
