Repository bitmakerla/estela: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, build-main-kafka, deploy-main-kafka, lint-web, build-main-web, deploy-to-s3-main-web

Path conditions:
  build-main-api: any of: bitmaker-api/**/*
  deploy-main-api: any of: bitmaker-api/**/*
  build-mr-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  test-mr-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  cleanup-mr-job-api: any of: bitmaker-api/**/*.py, .gitlab-ci.yml
  build-main-kafka: any of: bitmaker-kafka/consumer.py
  deploy-main-kafka: any of: bitmaker-kafka/consumer.py
  lint-web: any of: bitmaker-web/**/*
  build-main-web: any of: bitmaker-web/**/*
  deploy-to-s3-main-web: any of: bitmaker-web/**/*

BITMAKER-1765: Improve repository structure (#29)
  bitmaker-api/config/kubernetes/aws-registry-cronjob.yaml
  bitmaker-api/requirements/base.in
  bitmaker-api/requirements/base.txt
  bitmaker-api/requirements/dev.txt
  bitmaker-api/requirements/prod.txt
  bitmaker-api/requirements/test.txt
  bitmaker-web/.env
  installation-helps/helm-chart/.gitignore
  installation-helps/helm-chart/Chart.yaml
  installation-helps/helm-chart/README.md
  installation-helps/helm-chart/templates/API/api-configmap.yaml
  installation-helps/helm-chart/templates/API/api-deployment.yaml
  installation-helps/helm-chart/templates/API/api-secrets.yaml
  installation-helps/helm-chart/templates/API/api-serviceaccount.yaml
  installation-helps/helm-chart/templates/API/api-services.yaml
  installation-helps/helm-chart/templates/API/aws-registry.yaml
  installation-helps/helm-chart/templates/KAFKA/kafka-consumer.yaml
  installation-helps/helm-chart/templates/KAFKA/kafka-secrets.yaml
  installation-helps/helm-chart/templates/KAFKA/kafka-services.yaml
  installation-helps/helm-chart/templates/_helpers.tpl
  installation-helps/helm-chart/values.yaml.example
  installation-helps/kubernetes-api/bitmaker-api-configmaps.yaml.example
  installation-helps/kubernetes-api/bitmaker-api-deployments.yaml
  installation-helps/kubernetes-api/bitmaker-api-secrets.yaml.example
  installation-helps/kubernetes-api/bitmaker-api-services.yaml
  installation-helps/kubernetes-api/bitmaker-filebeat.yaml
  installation-helps/kubernetes-kafka/bitmaker-kafka-consumers.yaml
  installation-helps/kubernetes-kafka/bitmaker-kafka-secrets.yaml.example
  installation-helps/kubernetes-kafka/bitmaker-kafka-services.yaml
Due: build-main-api, deploy-main-api, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1618: Changed name of credentials in local, linted code and changed volume of minio
  bitmaker-api/api/views/deploy.py
  bitmaker-api/build_project/build.py
  bitmaker-api/credentials/aws.py
  bitmaker-api/credentials/local.py
  bitmaker-api/docker-compose.yaml
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1618: Add local S3
  bitmaker-api/api/views/deploy.py
  bitmaker-api/build_project/build.py
  bitmaker-api/core/registry.py
  bitmaker-api/core/views.py
  bitmaker-api/credentials/aws.py
  bitmaker-api/credentials/local.py
  bitmaker-api/docker-compose.yaml
  bitmaker-api/docker-conf/Dockerfile-build-project
  bitmaker-api/project_storage/__init__.py
  bitmaker-api/project_storage/aws.py
  bitmaker-api/project_storage/local.py
  bitmaker-api/requirements/base.in
  bitmaker-api/requirements/base.txt
  bitmaker-api/requirements/deploy.in
  bitmaker-api/requirements/deploy.txt
  bitmaker-api/requirements/dev.txt
  bitmaker-api/requirements/prod.txt
  bitmaker-api/requirements/test.txt
  installation-helps/kubernetes-api/bitmaker-api-services.yaml
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1618: Removed bitmaker project_storage, removed print in build.py and fix WORKDIR in build project
  bitmaker-api/build_project/build.py
  bitmaker-api/docker-conf/Dockerfile-build-project
  bitmaker-api/project_storage/__init__.py
  bitmaker-api/project_storage/aws.py
  bitmaker-api/project_storage/local.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1618: Add local S3 (#23)
  bitmaker-api/api/views/deploy.py
  bitmaker-api/build_project/build.py
  bitmaker-api/core/registry.py
  bitmaker-api/core/views.py
  bitmaker-api/credentials/aws.py
  bitmaker-api/credentials/local.py
  bitmaker-api/docker-compose.yaml
  bitmaker-api/docker-conf/Dockerfile-build-project
  bitmaker-api/requirements/base.in
  bitmaker-api/requirements/base.txt
  bitmaker-api/requirements/deploy.in
  bitmaker-api/requirements/deploy.txt
  bitmaker-api/requirements/dev.txt
  bitmaker-api/requirements/prod.txt
  bitmaker-api/requirements/test.txt
  installation-helps/kubernetes-api/bitmaker-api-services.yaml
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

:goal_net: BITMAKER-1660: Show errors in front-end (#27)
  bitmaker-api/api/views/project.py
  bitmaker-web/src/components/CronJobCreatePage/index.tsx
  bitmaker-web/src/components/JobCreatePage/index.tsx
  bitmaker-web/src/components/LoginPage/index.tsx
  bitmaker-web/src/components/ProjectDetailPage/index.tsx
  bitmaker-web/src/components/RegisterPage/index.tsx
  bitmaker-web/src/shared/index.tsx
  bitmaker-web/src/shared/notifications/index.tsx
  bitmaker-web/src/utils.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Add lifespan & total_response_bytes fields to SpiderJob
  bitmaker-api/core/models.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Update SpiderJob serializers to support lifespan & total_response_bytes fields
  bitmaker-api/api/serializers/job.py
  bitmaker-api/docs/api.yaml
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Show lifespan and response byte in SpiderJob's detail page
  bitmaker-api/docs/api.yaml
  bitmaker-web/src/components/JobDetailPage/index.tsx
  bitmaker-web/src/services/api/generated-api/models/SpiderJob.ts
  bitmaker-web/src/services/api/generated-api/models/SpiderJobUpdate.ts
Due: build-main-api, deploy-main-api, lint-web, build-main-web, deploy-to-s3-main-web

Add project billing endpoint to view network usage & processing time
  bitmaker-api/api/serializers/project.py
  bitmaker-api/api/views/project.py
  bitmaker-api/docs/api.yaml
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Correct variable unchanged
  bitmaker-api/api/views/job_data.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Delete job data query (#21)
  bitmaker-api/api/serializers/job.py
  bitmaker-api/api/views/job_data.py
  bitmaker-api/docs/api.yaml
  bitmaker-web/src/components/JobDataListPage/index.tsx
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/DeleteJobData.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
  bitmaker-web/src/shared/index.tsx
  bitmaker-web/src/shared/notifications/index.tsx
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Add a DatabaseInterface and MongoAdapter
  bitmaker-api/api/views/job_data.py
  bitmaker-api/core/database_adapters.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Add delete data collection
  bitmaker-api/api/views/job_data.py
  bitmaker-api/core/database_adapters.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Fix errors
  bitmaker-api/core/database_adapters.py
  bitmaker-api/core/mongo.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Add items and requests data size calculation Add task to calculate project's usage every hour Add mongo function to get database size per data type
  bitmaker-api/api/serializers/project.py
  bitmaker-api/api/views/project.py
  bitmaker-api/config/celery.py
  bitmaker-api/core/migrations/0017_auto_20220613_1310.py
  bitmaker-api/core/models.py
  bitmaker-api/core/mongo.py
  bitmaker-api/core/tasks.py
  bitmaker-api/docs/api.yaml
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/ProjectUsage.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

MIT License
  LICENSE.md
Due: none

Add database_adapters in Bitmaker-Kafka
  bitmaker-api/core/database_adapters.py
  bitmaker-kafka/Dockerfile
  bitmaker-kafka/consumer.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, build-main-kafka, deploy-main-kafka

Apply black
  bitmaker-api/api/views/job_data.py
  bitmaker-api/api/views/project.py
  bitmaker-kafka/consumer.py
  bitmaker-kafka/database_adapters.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, build-main-kafka, deploy-main-kafka

Fix typos and bugs. Update migration file
  bitmaker-api/api/views/job_data.py
  bitmaker-api/core/migrations/0017_auto_20220614_0527.py
  bitmaker-api/core/models.py
  bitmaker-api/core/mongo.py
  bitmaker-api/core/tasks.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Add local MongoDB instance in docker-compose
  bitmaker-api/docker-compose.yaml
Due: build-main-api, deploy-main-api

Add endpoint to get UsageRecords in a date range
  bitmaker-api/api/serializers/project.py
  bitmaker-api/api/views/project.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

BITMAKER-1732: Processing and Storage Cost Associated to a Project (#30)
  bitmaker-api/api/serializers/job.py
  bitmaker-api/api/serializers/project.py
  bitmaker-api/api/views/job_data.py
  bitmaker-api/api/views/project.py
  bitmaker-api/config/celery.py
  bitmaker-api/core/migrations/0017_auto_20220614_0527.py
  bitmaker-api/core/models.py
  bitmaker-api/core/mongo.py
  bitmaker-api/core/tasks.py
  bitmaker-api/docker-compose.yaml
  bitmaker-api/docs/api.yaml
  bitmaker-web/src/components/JobDetailPage/index.tsx
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/ProjectUsage.ts
  bitmaker-web/src/services/api/generated-api/models/SpiderJob.ts
  bitmaker-web/src/services/api/generated-api/models/SpiderJobUpdate.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Update project READMEs Add API Credentials section in docs Update endpoints and serializers in docs
  README.md
  bitmaker-api/README.md
  bitmaker-api/credentials/__init__.py
  bitmaker-kafka/README.md
  bitmaker-web/README.md
  docs/Gemfile
  docs/Gemfile.lock
  docs/README.md
  docs/bitmaker-cloud/api/api.md
  docs/bitmaker-cloud/api/credentials.md
  docs/bitmaker-cloud/api/endpoints.md
  docs/bitmaker-cloud/api/engines.md
  docs/bitmaker-cloud/kafka.md
  docs/bitmaker-cloud/web.md
  docs/index.md
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Move Makefiles to installation-helps/ directory
  installation-helps/kubernetes-api/Makefile.example
  installation-helps/kubernetes-kafka/Makefile.example
Due: none

Move .docker ignore to project root and ignore web and docs
  .dockerignore
  bitmaker-api/docker-conf/Dockerfile-django-api
  bitmaker-kafka/Dockerfile
Due: build-main-api, deploy-main-api

Add a factory to get a Database Adapter and environment variables
  bitmaker-api/Makefile.example
  bitmaker-api/api/views/job_data.py
  bitmaker-api/config/job_manager.py
  bitmaker-api/config/settings/base.py
  bitmaker-api/config/settings/local.py
  bitmaker-api/config/settings/test.py
  bitmaker-api/docker-conf/Dockerfile-django-api
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Add configmaps the variable SPIDERDATA_DB_ENGINE
  database_adapters/db_adapters.py
  installation-helps/kubernetes-api/bitmaker-api-configmaps.yaml.example
  installation-helps/kubernetes-api/bitmaker-api-secrets.yaml.example
Due: none

Enabling database_adapters in bitmaker-kafka
  bitmaker-api/api/views/job_data.py
  bitmaker-api/config/job_manager.py
  bitmaker-kafka/Dockerfile
  bitmaker-kafka/config/database_manager.py
  bitmaker-kafka/consumer.py
  bitmaker-kafka/database_adapters.py
  database_adapters/db_adapters.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, build-main-kafka, deploy-main-kafka

Add variables to use adapters
  bitmaker-kafka/Makefile.example
  installation-helps/kubernetes-kafka/bitmaker-kafka-consumers.yaml
  installation-helps/kubernetes-kafka/bitmaker-kafka-secrets.yaml.example
Due: none

Create usage records per project based on events Do not delete project but use a flag deleted to keep usage records Add item_count and request_count to SpiderJob
  bitmaker-api/api/serializers/job.py
  bitmaker-api/api/serializers/project.py
  bitmaker-api/api/views/job_data.py
  bitmaker-api/api/views/project.py
  bitmaker-api/config/celery.py
  bitmaker-api/config/settings/base.py
  bitmaker-api/core/admin.py
  bitmaker-api/core/apps.py
  bitmaker-api/core/database_adapters.py
  bitmaker-api/core/migrations/0017_auto_20220614_0527.py
  bitmaker-api/core/migrations/0017_auto_20220620_0721.py
  bitmaker-api/core/models.py
  bitmaker-api/core/signals.py
  bitmaker-api/core/tasks.py
  bitmaker-api/docker-compose.yaml
  bitmaker-api/docs/api.yaml
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/ProjectUsage.ts
  bitmaker-web/src/services/api/generated-api/models/SpiderJob.ts
  bitmaker-web/src/services/api/generated-api/models/SpiderJobUpdate.ts
  bitmaker-web/src/services/api/generated-api/models/UsageRecord.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, lint-web, build-main-web, deploy-to-s3-main-web

Adjust usage record creation tasks countdown
  bitmaker-api/api/views/job_data.py
  bitmaker-api/core/signals.py
  bitmaker-api/core/tasks.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Add Kafka flow image and update architecture image Change Estelar to Estela
  README.md
  bitmaker-api/README.md
  bitmaker-kafka/README.md
  bitmaker-web/README.md
  docs/README.md
  docs/assets/images/architecture.svg
  docs/assets/images/kafka_flow.svg
  docs/bitmaker-cloud/kafka.md
  docs/bitmaker-cloud/web.md
  docs/index.md
Due: build-main-api, deploy-main-api, lint-web, build-main-web, deploy-to-s3-main-web

Define installation pipeline
  README.md
  bitmaker-api/docker-compose.yaml
  bitmaker-kafka/docker-compose.yaml
  bitmaker-queuing/.gitignore
  bitmaker-queuing/Dockerfile
  bitmaker-queuing/README.md
  bitmaker-queuing/consumer.py
  bitmaker-queuing/database_adapters.py
  bitmaker-queuing/requirements/consumer.in
  bitmaker-queuing/requirements/consumer.txt
  development-helps/kubernetes-api/Makefile.example
  development-helps/kubernetes-api/bitmaker-api-configmaps.yaml.example
  development-helps/kubernetes-api/bitmaker-api-deployments.yaml
  development-helps/kubernetes-api/bitmaker-api-secrets.yaml.example
  development-helps/kubernetes-api/bitmaker-api-services.yaml
  development-helps/kubernetes-api/bitmaker-filebeat.yaml
  development-helps/kubernetes-queuing/Makefile.example
  development-helps/kubernetes-queuing/bitmaker-kafka-consumers.yaml
  development-helps/kubernetes-queuing/bitmaker-kafka-secrets.yaml.example
  development-helps/kubernetes-queuing/bitmaker-kafka-services.yaml
  installation/.gitignore
  installation/Makefile
  installation/README.md
  installation/docker-compose.yaml
  installation/helm-chart/.gitignore
  installation/helm-chart/Chart.yaml
  installation/helm-chart/README.md
  installation/helm-chart/templates/API/api-configmap.yaml
  installation/helm-chart/templates/API/api-deployment.yaml
  installation/helm-chart/templates/API/api-secrets.yaml
  installation/helm-chart/templates/API/api-serviceaccount.yaml
  installation/helm-chart/templates/API/api-services.yaml
  installation/helm-chart/templates/API/aws-registry.yaml
  installation/helm-chart/templates/KAFKA/kafka-consumer.yaml
  installation/helm-chart/templates/KAFKA/kafka-secrets.yaml
  installation/helm-chart/templates/KAFKA/kafka-services.yaml
  installation/helm-chart/templates/_helpers.tpl
  installation/helm-chart/values.yaml.example
  installation/local/db/mysql/init.sql
Due: build-main-api, deploy-main-api

Delete data and then launch usage recod job
  bitmaker-api/api/views/job_data.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Launch usage record job without countdown
  bitmaker-api/api/views/job_data.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Make requested changes
  README.md
  bitmaker-api/README.md
  bitmaker-kafka/README.md
  bitmaker-web/README.md
  docs/bitmaker-cloud/api/credentials.md
  docs/bitmaker-cloud/api/engines.md
  docs/bitmaker-cloud/kafka.md
Due: build-main-api, deploy-main-api, lint-web, build-main-web, deploy-to-s3-main-web

BITMAKER-1809: Usage module improvements (#37)
  bitmaker-api/api/serializers/job.py
  bitmaker-api/api/serializers/project.py
  bitmaker-api/api/views/job_data.py
  bitmaker-api/api/views/project.py
  bitmaker-api/config/celery.py
  bitmaker-api/config/settings/base.py
  bitmaker-api/core/admin.py
  bitmaker-api/core/apps.py
  bitmaker-api/core/database_adapters.py
  bitmaker-api/core/migrations/0017_auto_20220614_0527.py
  bitmaker-api/core/migrations/0017_auto_20220620_0721.py
  bitmaker-api/core/models.py
  bitmaker-api/core/mongo.py
  bitmaker-api/core/signals.py
  bitmaker-api/core/tasks.py
  bitmaker-api/docker-compose.yaml
  bitmaker-api/docs/api.yaml
  bitmaker-kafka/Dockerfile
  bitmaker-kafka/consumer.py
  bitmaker-kafka/database_adapters.py
  bitmaker-web/src/services/api/generated-api/.openapi-generator/FILES
  bitmaker-web/src/services/api/generated-api/apis/ApiApi.ts
  bitmaker-web/src/services/api/generated-api/models/ProjectUsage.ts
  bitmaker-web/src/services/api/generated-api/models/SpiderJob.ts
  bitmaker-web/src/services/api/generated-api/models/SpiderJobUpdate.ts
  bitmaker-web/src/services/api/generated-api/models/UsageRecord.ts
  bitmaker-web/src/services/api/generated-api/models/index.ts
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api, build-main-kafka, deploy-main-kafka, lint-web, build-main-web, deploy-to-s3-main-web

Change spider data database client variable name
  bitmaker-api/api/views/job_data.py
  bitmaker-api/config/job_manager.py
Due: build-main-api, deploy-main-api, build-mr-api, test-mr-api, cleanup-mr-job-api

Apply optimizations and fixes
  bitmaker-api/Makefile.example
  bitmaker-api/docker-conf/Dockerfile-celery-beat
  bitmaker-api/docker-conf/Dockerfile-celery-worker
  bitmaker-api/docker-conf/Dockerfile-django-api
  bitmaker-kafka/Dockerfile
  bitmaker-kafka/Makefile.example
  bitmaker-kafka/config/database_manager.py
  installation-helps/kubernetes-kafka/bitmaker-kafka-consumers.yaml
Due: build-main-api, deploy-main-api
